<% content_for(:title, t('.title')) %>
<div class="container pt-4 ps-1 pe-1">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <!-- ツール出力結果内容 -->
      <div class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-9'>
              <h3 class="d-inline"><%= @tool.store_name %></h3>
                <%= render 'crud_menus', tool: @tool if current_user.own?(@tool) %>
              <ul class="list-inline mb-2">
                <li class="list-inline-item">出力日時：<%= l @tool.created_at, format: :long  %></li>
              </ul>
              <ul class="list-inline mb-2">
                <li class="list-inline-item">更新日時：<%= l @tool.updated_at, format: :long  %></li>
              </ul>
              <ul class="list-inline mb-2">
                <li class="list-inline-item">パチスロ総設置台数：<%= @tool.total_unit %></li>
              </ul>
              <!-- 出力結果 -->
                <table class="table table-bordered text-center align-middle">
                  <thead>
                    <tr>
                      <th scope="col">末尾</th>
                      <th scope="col">勝率</th>
                      <th scope="col">末尾別差枚</th>
                      <th scope="col">平均差枚</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" class="pt-0 pb-0">0</th>
                        <td class="pt-0 pb-0"><%= @tool.win_rate0(@tool) %>%<br>(<%= @tool.win_count(@tool)[0].to_i%>/<%= @tool.each_denominator(@tool).round(0)%>台)</td>
                        <td class="pt-0 pb-0"><%= @tool.sum0(@tool).to_i %></td>
                        <td class="pt-0 pb-0"><%= @tool.average0(@tool).to_i %></td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td class="pt-0 pb-0"><%= @tool.win_rate1(@tool) %>%<br>(<%= @tool.win_count(@tool)[1].to_i%>/<%= @tool.each_denominator(@tool).round(0)%>台)</td>
                      <td class="pt-0 pb-0"><%= @tool.sum1(@tool).to_i %></td>
                      <td class="pt-0 pb-0"><%= @tool.average1(@tool).to_i %></td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td class="pt-0 pb-0"><%= @tool.win_rate2(@tool) %>%<br>(<%= @tool.win_count(@tool)[2].to_i%>/<%= @tool.each_denominator(@tool).round(0)%>台)</td>
                      <td class="pt-0 pb-0"><%= @tool.sum2(@tool).to_i %></td>
                      <td class="pt-0 pb-0"><%= @tool.average2(@tool).to_i %></td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td class="pt-0 pb-0"><%= @tool.win_rate3(@tool) %>%<br>(<%= @tool.win_count(@tool)[3].to_i%>/<%= @tool.each_denominator(@tool).round(0)%>台)</td>
                      <td class="pt-0 pb-0"><%= @tool.sum3(@tool).to_i %></td>
                      <td class="pt-0 pb-0"><%= @tool.average3(@tool).to_i %></td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td class="pt-0 pb-0"><%= @tool.win_rate4(@tool) %>%<br>(<%= @tool.win_count(@tool)[4].to_i%>/<%= @tool.each_denominator(@tool).round(0)%>台)</td>
                      <td class="pt-0 pb-0"><%= @tool.sum4(@tool).to_i %></td>
                      <td class="pt-0 pb-0"><%= @tool.average4(@tool).to_i %></td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td class="pt-0 pb-0"><%= @tool.win_rate5(@tool) %>%<br>(<%= @tool.win_count(@tool)[5].to_i%>/<%= @tool.each_denominator(@tool).round(0)%>台)</td>
                      <td class="pt-0 pb-0"><%= @tool.sum5(@tool).to_i %></td>
                      <td class="pt-0 pb-0"><%= @tool.average5(@tool).to_i %></td>
                    </tr>
                    <tr>
                      <th scope="row">6</th>
                      <td class="pt-0 pb-0"><%= @tool.win_rate6(@tool) %>%<br>(<%= @tool.win_count(@tool)[6].to_i%>/<%= @tool.each_denominator(@tool).round(0)%>台)</td>
                      <td class="pt-0 pb-0"><%= @tool.sum6(@tool).to_i %></td>
                      <td class="pt-0 pb-0"><%= @tool.average6(@tool).to_i %></td>
                    </tr>
                    <tr>
                      <th scope="row">7</th>
                      <td class="pt-0 pb-0"><%= @tool.win_rate7(@tool) %>%<br>(<%= @tool.win_count(@tool)[7].to_i%>/<%= @tool.each_denominator(@tool).round(0)%>台)</td>
                      <td class="pt-0 pb-0"><%= @tool.sum7(@tool).to_i %></td>
                      <td class="pt-0 pb-0"><%= @tool.average7(@tool).to_i %></td>
                    </tr>
                    <tr>
                      <th scope="row">8</th>
                      <td class="pt-0 pb-0"><%= @tool.win_rate8(@tool) %>%<br>(<%= @tool.win_count(@tool)[8].to_i%>/<%= @tool.each_denominator(@tool).round(0)%>台)</td>
                      <td class="pt-0 pb-0"><%= @tool.sum8(@tool).to_i %></td>
                      <td class="pt-0 pb-0"><%= @tool.average8(@tool).to_i %></td>
                    </tr>
                    <tr>
                      <th scope="row">9</th>
                      <td class="pt-0 pb-0"><%= @tool.win_rate9(@tool) %>%<br>(<%= @tool.win_count(@tool)[9].to_i%>/<%= @tool.each_denominator(@tool).round(0)%>台)</td>
                      <td class="pt-0 pb-0"><%= @tool.sum9(@tool).to_i %></td>
                      <td class="pt-0 pb-0"><%= @tool.average9(@tool).to_i %></td>
                    </tr>
                    <tr>
                      <th scope="row">ゾロ</th>
                      <td class="pt-0 pb-0"><%= @tool.win_rate_same_number(@tool) %>%<br>(<%= @tool.win_same_number_count(@tool).to_i %>/<%= @tool.each_denominator(@tool).round(0) %>台)</td>
                      <td class="pt-0 pb-0"><%= @tool.sum_same_number(@tool).to_i %></td>
                      <td class="pt-0 pb-0"><%= @tool.average_same_number(@tool).to_i %></td>
                    </tr>
                  </tbody>
                </table>
              <!-- 入力した値を表示 -->
              <h4 class="mt-5 mb-3 ">入力値</h4>
              <% @tool.tool_units.sort_by { |x| x['number'] }.each do |tool_unit| %>
                <ul class="list-inline mb-2">
                  <li class="list-inline-item">台番：<%= tool_unit.number %></li>
                  <li class="list-inline-item">差枚：<%= tool_unit.medal %></li>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
