<% content_for(:title, t('.title')) %>
<div class="container pt-4">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <!-- ツール出力結果内容 -->
      <div class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-9'>
              <h3 class="d-inline"><%= @tool.store_name %></h3>
                <%= render 'crud_menus', tool: @tool if current_user.own?(@tool) %>
              <ul class="list-inline mb-2">
                <li class="list-inline-item">出力日時：<%= l @tool.created_at, format: :long  %></li>
              </ul>
              <ul class="list-inline mb-2">
                <li class="list-inline-item">更新日時：<%= l @tool.updated_at, format: :long  %></li>
              </ul>
              <ul class="list-inline mb-2">
                <li class="list-inline-item">パチスロ総設置台数：<%= @tool.total_unit %></li>
              </ul>
              <!-- 出力結果 -->
                <table class="table table-bordered text-center align-middle">
                  <thead>
                    <tr>
                      <th scope="col">末尾</th>
                      <th scope="col">勝率</th>
                      <th scope="col">末尾別差枚</th>
                      <th scope="col">平均差枚</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">0</th>
                      <td><%= @win_rate0 %>%<br>(<%= @win_unit_number_ones_place_array_count[0].to_i %>/<%= @each_denominator.round(0) %>台)</td>
                      <td><%= @sum0.to_i %></td>
                      <td><%= @average0.to_i.round(0) %></td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td><%= @win_rate1 %>%<br>(<%= @win_unit_number_ones_place_array_count[1].to_i %>/<%= @each_denominator.round(0) %>台)</td>
                      <td><%= @sum1.to_i %></td>
                      <td><%= @average1.to_i.round(0) %></td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td><%= @win_rate2 %>%<br>(<%= @win_unit_number_ones_place_array_count[2].to_i %>/<%= @each_denominator.round(0) %>台)</td>
                      <td><%= @sum2.to_i %></td>
                      <td><%= @average2.to_i.round(0) %></td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td><%= @win_rate3 %>%<br>(<%= @win_unit_number_ones_place_array_count[3].to_i %>/<%= @each_denominator.round(0) %>台)</td>
                      <td><%= @sum3.to_i %></td>
                      <td><%= @average3.to_i.round(0) %></td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td><%= @win_rate4 %>%<br>(<%= @win_unit_number_ones_place_array_count[4].to_i %>/<%= @each_denominator.round(0) %>台)</td>
                      <td><%= @sum4.to_i %></td>
                      <td><%= @average4.to_i.round(0) %></td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td><%= @win_rate5 %>%<br>(<%= @win_unit_number_ones_place_array_count[5].to_i %>/<%= @each_denominator.round(0) %>台)</td>
                      <td><%= @sum5.to_i %></td>
                      <td><%= @average5.to_i.round(0) %></td>
                    </tr>
                    <tr>
                      <th scope="row">6</th>
                      <td><%= @win_rate6 %>%<br>(<%= @win_unit_number_ones_place_array_count[6].to_i %>/<%= @each_denominator.round(0) %>台)</td>
                      <td><%= @sum6.to_i %></td>
                      <td><%= @average6.to_i.round(0) %></td>
                    </tr>
                    <tr>
                      <th scope="row">7</th>
                      <td><%= @win_rate7 %>%<br>(<%= @win_unit_number_ones_place_array_count[7].to_i %>/<%= @each_denominator.round(0) %>台)</td>
                      <td><%= @sum7.to_i %></td>
                      <td><%= @average7.to_i.round(0) %></td>
                    </tr>
                    <tr>
                      <th scope="row">8</th>
                      <td><%= @win_rate8 %>%<br>(<%= @win_unit_number_ones_place_array_count[8].to_i %>/<%= @each_denominator.round(0) %>台)</td>
                      <td><%= @sum8.to_i %></td>
                      <td><%= @average8.to_i.round(0) %></td>
                    </tr>
                    <tr>
                      <th scope="row">9</th>
                      <td><%= @win_rate9 %>%<br>(<%= @win_unit_number_ones_place_array_count[9].to_i %>/<%= @each_denominator.round(0) %>台)</td>
                      <td><%= @sum9.to_i %></td>
                      <td><%= @average9.to_i.round(0) %></td>
                    </tr>
                    <tr>
                      <th scope="row">ゾロ</th>
                      <td><%= @win_rate_same_number %>%<br>(<%= @win_same_unit_number_array_count.to_i %>/<%= @each_denominator.round(0) %>台)</td>
                      <td><%= @sum_same_number.to_i %></td>
                      <td><%= @average_same_number.to_i.round(0) %></td>
                    </tr>
                  </tbody>
                </table>
              <!-- 入力した値を表示 -->
              <h4 class="mt-5 mb-3 ">入力値</h4>
              <% @tool.tool_units.each do |tool_unit| %>
                <ul class="list-inline mb-2">
                  <li class="list-inline-item">台番：<%= tool_unit.number %></li>
                  <li class="list-inline-item">差枚：<%= tool_unit.medal %></li>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
